{% extends 'layouts/main.twig' %}
{% block title %}
    отказ
{% endblock %}
{% block header %}
    недостаточно прав
{% endblock %}
{% block content %}

    <h3 style="color: red">Выполните вход на сайт</h3>
    <br>
    <a class="php-link php-other-link"
       style="width: 55px;"
       href="/user/auth">
        назад
    </a>

{% endblock %}