{% extends 'layouts/main.twig' %}
{% block title %}
    удаление комментария
{% endblock %}
{% block header %}
    удаление комментария
{% endblock %}
{% block content %}

    {% if user_is_admin or comment.user_id == user_id %}
        <h2>удалить комментарий?</h2>
        <br>
        <div style="display: flex">
            <a class="php-other-link php-red-link"
               style="width: 37px;
                      margin-right: 4px;"
               href="/comment/getDel?commentId={{ comment.id }}&id={{ good.id }}">
                да
            </a>
            <a class="php-other-link php-green-link"
               style="width: 37px;"
               href="/good/one?id={{ good.id }}">
                нет
            </a>
        </div>
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}