{% extends 'layouts/main.twig' %}
{% block title %}
    ошибка ввода
{% endblock %}
{% block header %}
    ошибка ввода
{% endblock %}
{% block content %}

    <h3 style="color: red">Необходимо заполнить все поля</h3>
    <br>

    {% if user.id %}
        <a class="php-link php-other-link"
           style="width: 55px;"
           href="/user/edit?id={{ user.id }}">
            назад
        </a>
    {% elseif good.id %}
        <a class="php-link php-other-link"
           style="width: 55px;"
           href="/good/edit?id={{ good.id }}">
            назад
        </a>
    {% else %}
        <a class="php-link php-other-link"
           style="width: 55px;"
           href="javascript:history.back();">
            назад
        </a>
    {% endif %}

{% endblock %}
