{% extends 'layouts/main.twig' %}
{% block title %}список товаров{% endblock %}
{% block content %}

    <h1>Товары</h1>
    <br>

    {% for good in goods %}
        {% if good.img %}
            <img class="new_img_all_style" src="/img/{{ good.img }}" alt="img">
        {% else %}
            <img class="new_img_all_style" src="/img/no_img.jpg" alt="img">
        {% endif %}
        <h2 class="arrivals_title">{{ good.name }}</h2>
        <h3>цена: {{ good.price }}&#8381;</h3>
        <br>
        <a href="/good/one?id={{ good.id }}">подробно</a>
        <hr>
    {% else %}
        <h3 style="color: red">Товары отсутствуют</h3>
    {% endfor %}

    {% if user_is_admin == 1 %}
        <br>
        <a href="/good/edit">добавить товар</a>
    {% endif %}

{% endblock %}